*{
    margin: 15px;
    padding: 0;
    box-sizing: border-box;
  }


body{
color: #5D6063;
background-color: #EAEDF0;
font-family: "helvetica", "arial", sans-serif;
font-size: 17px;
line-height: 1.3;
display: flex;
flex-direction: column;
align-items: center;
}

h1{
    text-align: center;
}

.container{
    background-color: #f6f7f8;
    border: 5px solid #D6D9DC;
    padding: 20px;
    margin: 0 40px 0 40px;
}

.div-display{
    text-align: center;
    font-size: 45px;
    border: 10px solid #D6D9DC;
    margin-right: 10px;
    margin-left: 10px;
}

.button{
    color: #5D6063;
    padding: 10px 20px;
    margin: 30px;
    font-size: 30px;
    border: 5px solid #D6D9DC;
    border-radius: 5px;
    display: flex;
    
}

.div-button{
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
}

.reset-button{
margin: auto;
}
